﻿
@{
    ViewData["Title"] = "Index";
}


<!-- Top Header-Profile -->

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb" style="background-image: url(https://localhost:44347/templates/detail-page/img/coverlebong.jpg);">
                    </div>
                    <div class="profile-section">

                        <div class="control-block-button">
                            <a class="btn btn-control bg-blue">
                                <svg class="fa fa-thumbs-up"></svg>
                            </a>
                            <a class="btn btn-control bg-purple">
                                <svg class="fa fa-heart"></svg>
                            </a>
                        </div>
                    </div>
                    <div class="top-header-author">
                        <a href="02-ProfilePage.html" class="author-thumb" style="background-image: url(https://localhost:44347/templates/detail-page/img/lebong.png);">
                        </a>
                        <div class="author-content">
                            <a href="02-ProfilePage.html" class="h4 author-name">Lê Xuân Anh (Lê Bống) </a>
                            <i class="fa fa-check-circle" style="color: #38a9ff;"></i>
                            <div class="country">25, Hà Nội</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... end Top Header-Profile -->
<div class="container">
    <div class="row">

        <!-- Main Content -->

        <div class="col col-xl-8 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <div id="newsfeed-items-grid">

                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">THÔNG TIN CÁ NHÂN</h6>
                    </div>
                    <div class="ui-block-content">
                        Lê Xuân Anh<br />
                        FITNESS KOL / Youtuber<br />
                        My life: @@dubo.shop<br />
                        Fb: Lê Bống<br />
                        Youtube: Lê Bống<br />
                        Tiktok: lebong95<br />
                        📩 lebongofficial@gmail.com<br />
                        📞 039.969.5763 (Trí)<br />
                        m.facebook.com/bong.le.756
                    </div>
                </div>
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Last Photos</h6>
                    </div>
                    <div class="ui-block-content">

                        <!-- W-Latest-Photo -->

                        <ul class="widget w-last-photo js-zoom-gallery">
                            <li>
                                <a href="~/templates/detail-page/img/lb1.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb1.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/lb2.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb2.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/llb3.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb3.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/lb4.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb4.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot14-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb5.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot15-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb6.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot16-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb7.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot17-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb8.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot18-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb9.jpg" alt="photo">
                                </a>
                            </li>
                        </ul>


                        <!-- .. end W-Latest-Photo -->
                    </div>
                </div>

            </div>
        </div>

        <!-- ... end Main Content -->
        <!-- Left Sidebar -->

        <div class="col col-xl-4 order-xl-1 col-lg-12 order-lg-2 col-md-6 col-sm-12 col-12">


            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">YÊU CẦU HỢP TÁC</h6>
                </div>

                <!-- W-Friend-Pages-Added -->

                <ul class="widget w-friend-pages-added notification-list friend-requests">
                    <li class="inline-items">
                        <div class="notification-event">
                            <span class="chat-message-item">Vai trò</span>
                            <a class="h6 notification-friend">Suggar Baby</a>
                        </div>
                    </li>
                    <li class="inline-items">
                        <div class="notification-event">
                            <span class="chat-message-item">Địa điểm</span>
                            <a class="h6 notification-friend">Hồ Chí Minh</a>
                        </div>
                    </li>
                    <li class="inline-items">
                        <div class="notification-event">
                            <span class="chat-message-item">Chiều cao</span>
                            <a class="h6 notification-friend">180 cm</a>
                        </div>
                    </li>
                    <li class="inline-items">
                        <div class="notification-event">
                            <span class="chat-message-item">Chu cấp mong muốn</span>
                            <a class="h6 notification-friend">50.000.000đ</a>
                        </div>
                    </li>
                    <li class="inline-items">
                        <div class="notification-event" style="max-width: 100%">
                            <a class="h6 notification-friend mb-1">Khác</a>
                            <span class="badge badge-primary mb-1">Không hút thuốc</span>
                            <span class="badge badge-primary mb-1">Không chơi gái</span>
                            <span class="badge badge-primary mb-1">Không bia ôm</span>
                            <span class="badge badge-primary mb-1">Không coi phim sex</span>
                            <span class="badge badge-primary mb-1">có tập gym</span>
                        </div>
                    </li>

                </ul>

                <!-- .. end W-Friend-Pages-Added -->
            </div>
        </div>

        <!-- ... end Left Sidebar -->
        <!-- Right Sidebar -->
        <!-- ... end Right Sidebar -->

    </div>
</div>


<a class="back-to-left" href="#">
    <i class="fa fa-chevron-left back-icon"></i>
</a>
<a class="back-to-right" href="#">
    <i class="fa fa-chevron-right back-icon"></i>
</a>
