﻿
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="friend-item friend-groups">
                    <div class="friend-item-content">
                        <div class="friend-avatar">
                            <div class="author-thumb-group">
                                <img loading="lazy" src="~/templates/detail-page/img/badge11.png" />
                            </div>

                            <div class="author-content">
                                <a href="#" class="h5 author-name">Top nhân vật tuyển chọn</a>
                                <div class="country">(6862)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ... end Friend Item -->
            </div>
        </div>
        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="friend-item friend-groups">
                    <div class="friend-item-content">
                        <div class="friend-avatar">
                            <div class="author-thumb-group">
                                <img loading="lazy" src="~/templates/detail-page/img/badge12.png" />
                            </div>

                            <div class="author-content">
                                <a href="#" class="h5 author-name">Sugar Baby</a>
                                <div class="country">(6862)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ... end Friend Item -->
            </div>
        </div>
        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="friend-item friend-groups">
                    <div class="friend-item-content">
                        <div class="friend-avatar">
                            <div class="author-thumb-group">
                                <img loading="lazy" src="~/templates/detail-page/img/badge13.png" />
                            </div>

                            <div class="author-content">
                                <a href="#" class="h5 author-name">Sugar Daddy</a>
                                <div class="country">(6862)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ... end Friend Item -->
            </div>
        </div>
        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="friend-item friend-groups">
                    <div class="friend-item-content">
                        <div class="friend-avatar">
                            <div class="author-thumb-group">
                                <img loading="lazy" src="~/templates/detail-page/img/badge14.png" />
                            </div>

                            <div class="author-content">
                                <a href="#" class="h5 author-name">Phi công</a>
                                <div class="country">(6862)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ... end Friend Item -->
            </div>
        </div>
        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="friend-item friend-groups">
                    <div class="friend-item-content">
                        <div class="friend-avatar">
                            <div class="author-thumb-group">
                                <img loading="lazy" src="~/templates/detail-page/img/badge15.png" />
                            </div>

                            <div class="author-content">
                                <a href="#" class="h5 author-name">Máy bay</a>
                                <div class="country">(6862)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ... end Friend Item -->
            </div>
        </div>
        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="friend-item friend-groups">
                    <div class="friend-item-content">
                        <div class="friend-avatar">
                            <div class="author-thumb-group">
                                <img loading="lazy" src="~/templates/detail-page/img/badge3.png" />
                            </div>

                            <div class="author-content">
                                <a href="#" class="h5 author-name">Single Mom</a>
                                <div class="country">(6862)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ... end Friend Item -->
            </div>
        </div>

        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="friend-item friend-groups">
                    <div class="friend-item-content">
                        <div class="friend-avatar">
                            <div class="author-thumb-group">
                                <img loading="lazy" src="~/templates/detail-page/img/badge4.png" />
                            </div>

                            <div class="author-content">
                                <a href="#" class="h5 author-name">FWB, ONS</a>
                                <div class="country">(6862)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ... end Friend Item -->
            </div>
        </div>
        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="friend-item friend-groups">
                    <div class="friend-item-content">
                        <div class="friend-avatar">
                            <div class="author-thumb-group">
                                <img loading="lazy" src="~/templates/detail-page/img/badge5.png" />
                            </div>

                            <div class="author-content">
                                <a href="#" class="h5 author-name">Real Love</a>
                                <div class="country">(6862)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ... end Friend Item -->
            </div>
        </div>

        <div class="col col-xl-12 order-xl-12 col-lg-12 order-lg-12 col-md-12 col-sm-12 col-12">
            <!--Top hot-->
            <div class="ui-block">
                <div class="ui-block-title">
                    <a class="more" style="padding-left: unset;padding-right: 10px">
                        <span class="c-green">
                            <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
                        </span>
                    </a>
                    <h6 class="title"> Top hot tuần này</h6>
                    <div style="width: 150px">
                        <a href="#" class="t-knightRider custom-button">
                            Xem thêm
                        </a>
                    </div>
                </div>

                <div class="swiper-container pagination-bottom" data-slide="fade">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-weather" data-swiper-parallax="-500">
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb1.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống) <i class="fa fa-check-circle" style="color: #38a9ff;"></i></div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb2.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống) <i class="fa fa-check-circle" style="color: #38a9ff;"></i></div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb3.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống) <i class="fa fa-check-circle" style="color: #38a9ff;"></i></div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb4.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống) <i class="fa fa-check-circle" style="color: #38a9ff;"></i></div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb5.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống) <i class="fa fa-check-circle" style="color: #38a9ff;"></i></div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb6.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống) <i class="fa fa-check-circle" style="color: #38a9ff;"></i></div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination pagination-blue"></div>
                </div>


            </div>

            <!--Sugar baby-->
            <div class="ui-block">
                <div class="ui-block-title">
                    <a class="more" style="padding-left: unset;padding-right: 10px">
                        <span class="c-green">
                            <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
                        </span>
                    </a>
                    <h6 class="title"> Sugar Baby</h6>
                    <div style="width: 150px">
                        <a href="#" class="t-knightRider custom-button">
                            Xem thêm
                        </a>
                    </div>
                </div>

                <div class="swiper-container pagination-bottom" data-slide="fade">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-weather" data-swiper-parallax="-500">
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb1.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb2.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb3.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb4.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb5.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb6.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination pagination-blue"></div>
                </div>


            </div>

            <!--Pilot-->
            <div class="ui-block">
                <div class="ui-block-title">
                    <a class="more" style="padding-left: unset;padding-right: 10px">
                        <span class="c-green">
                            <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
                        </span>
                    </a>
                    <h6 class="title"> Pilot</h6>
                    <div style="width: 150px">
                        <a href="#" class="t-knightRider custom-button">
                            Xem thêm
                        </a>
                    </div>
                </div>

                <div class="swiper-container pagination-bottom" data-slide="fade">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-weather" data-swiper-parallax="-500">
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb1.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb2.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb3.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb4.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb5.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb6.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination pagination-blue"></div>
                </div>


            </div>

            <!--FWB, ONS-->
            <div class="ui-block">
                <div class="ui-block-title">
                    <a class="more" style="padding-left: unset;padding-right: 10px">
                        <span class="c-green">
                            <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
                        </span>
                    </a>
                    <h6 class="title"> FWB, ONS</h6>
                    <div style="width: 150px">
                        <a href="#" class="t-knightRider custom-button">
                            Xem thêm
                        </a>
                    </div>
                </div>

                <div class="swiper-container pagination-bottom" data-slide="fade">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-weather" data-swiper-parallax="-500">
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb1.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb2.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb3.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb4.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb5.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb6.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination pagination-blue"></div>
                </div>


            </div>

            <!--Real love-->
            <div class="ui-block">
                <div class="ui-block-title">
                    <a class="more" style="padding-left: unset;padding-right: 10px">
                        <span class="c-green">
                            <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
                        </span>
                    </a>
                    <h6 class="title"> Real love</h6>
                    <div style="width: 150px">
                        <a href="#" class="t-knightRider custom-button">
                            Xem thêm
                        </a>
                    </div>
                </div>

                <div class="swiper-container pagination-bottom" data-slide="fade">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-weather" data-swiper-parallax="-500">
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb1.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb2.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb3.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb4.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb5.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="day-wethear-item">
                                <img src="~/templates/detail-page/img/lb6.jpg" />
                                <div class="wethear-now">
                                    <div class="temperature-sensor">Lê Xuân Anh (Lê Bống)</div>
                                    <div class="max-min-temperature">
                                        <span>25T, Hồ Chí Minh</span>
                                    </div>
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span>116</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <i class="fa fa-heart"></i>
                                            <span>55</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination pagination-blue"></div>
                </div>


            </div>
        </div>
    </div>
</div>

