﻿
@{
    ViewData["Title"] = "Index";
}

<!-- Top Header-Profile -->

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb" style="background-image: url(https://localhost:44347/templates/detail-page/img/coverlebong.jpg);">
                    </div>
                    <div class="profile-section">

                        <div class="control-block-button">
                            <div class="btn btn-control bg-primary more">
                                <svg class="olymp-settings-icon"><use xlink:href="#olymp-settings-icon"></use></svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#update-header-photo">Cập nhật ảnh đại diện</a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#update-header-photo">Cập nhật ảnh bìa</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-header-author">
                        <a href="02-ProfilePage.html" class="author-thumb" style="background-image: url(https://localhost:44347/templates/detail-page/img/lebong.png);">
                        </a>
                        <div class="author-content">
                            <a href="02-ProfilePage.html" class="h4 author-name">Lê Xuân Anh (Lê Bống) </a>
                            <i class="fa fa-check-circle" style="color: #38a9ff;"></i>
                            <div class="country">25, Hà Nội</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... end Top Header-Profile -->
<div class="container">
    <div class="row">

        <!-- Main Content -->

        <div class="col col-xl-8 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <div id="newsfeed-items-grid">

                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">THÔNG TIN CÁ NHÂN</h6>
                    </div>
                    <div class="ui-block-content">
                        Lê Xuân Anh<br />
                        FITNESS KOL / Youtuber<br />
                        My life: @@dubo.shop<br />
                        Fb: Lê Bống<br />
                        Youtube: Lê Bống<br />
                        Tiktok: lebong95<br />
                        📩 lebongofficial@gmail.com<br />
                        📞 039.969.5763 (Trí)<br />
                        m.facebook.com/bong.le.756
                    </div>
                </div>
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Last Photos</h6>
                    </div>
                    <div class="ui-block-content">

                        <!-- W-Latest-Photo -->

                        <ul class="widget w-last-photo js-zoom-gallery">
                            <li>
                                <a href="~/templates/detail-page/img/lb1.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb1.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/lb2.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb2.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/llb3.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb3.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/lb4.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb4.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot14-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb5.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot15-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb6.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot16-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb7.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot17-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb8.jpg" alt="photo">
                                </a>
                            </li>
                            <li>
                                <a href="~/templates/detail-page/img/last-phot18-large.jpg">
                                    <img loading="lazy" src="~/templates/detail-page/img/lb9.jpg" alt="photo">
                                </a>
                            </li>
                        </ul>


                        <!-- .. end W-Latest-Photo -->
                    </div>
                </div>

            </div>
        </div>

        <!-- ... end Main Content -->
        <!-- Left Sidebar -->

        <div class="col col-xl-4 order-xl-1 col-lg-12 order-lg-2 col-md-6 col-sm-12 col-12">


            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">YÊU CẦU HỢP TÁC</h6>
                </div>

                <!-- W-Friend-Pages-Added -->

                <ul class="widget w-friend-pages-added notification-list friend-requests">
                    <li class="inline-items">
                        <div class="notification-event">
                            <span class="chat-message-item">Vai trò</span>
                            <a class="h6 notification-friend">Suggar Baby</a>
                        </div>
                    </li>
                    <li class="inline-items">
                        <div class="notification-event">
                            <span class="chat-message-item">Địa điểm</span>
                            <a class="h6 notification-friend">Hồ Chí Minh</a>
                        </div>
                    </li>
                    <li class="inline-items">
                        <div class="notification-event">
                            <span class="chat-message-item">Chiều cao</span>
                            <a class="h6 notification-friend">180 cm</a>
                        </div>
                    </li>
                    <li class="inline-items">
                        <div class="notification-event">
                            <span class="chat-message-item">Chu cấp mong muốn</span>
                            <a class="h6 notification-friend">50.000.000đ</a>
                        </div>
                    </li>
                    <li class="inline-items">
                        <div class="notification-event" style="max-width: 100%">
                            <a class="h6 notification-friend mb-1">Khác</a>
                            <span class="badge badge-primary mb-1">Không hút thuốc</span>
                            <span class="badge badge-primary mb-1">Không chơi gái</span>
                            <span class="badge badge-primary mb-1">Không bia ôm</span>
                            <span class="badge badge-primary mb-1">Không coi phim sex</span>
                            <span class="badge badge-primary mb-1">có tập gym</span>
                        </div>
                    </li>

                </ul>

                <!-- .. end W-Friend-Pages-Added -->
            </div>
        </div>

        <!-- ... end Left Sidebar -->
        <!-- Right Sidebar -->
        <!-- ... end Right Sidebar -->

    </div>
</div>

<!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">
    <div class="modal-dialog window-popup update-header-photo" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
            </a>

            <div class="modal-header">
                <h6 class="title">Update Header Photo</h6>
            </div>

            <div class="modal-body">
                <a href="#" class="upload-photo-item">
                    <svg class="olymp-computer-icon"><use xlink:href="#olymp-computer-icon"></use></svg>

                    <h6>Upload Photo</h6>
                    <span>Browse your computer.</span>
                </a>

                <a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">

                    <svg class="olymp-photos-icon"><use xlink:href="#olymp-photos-icon"></use></svg>

                    <h6>Choose from My Photos</h6>
                    <span>Choose from your uploaded photos</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- ... end Window-popup Update Header Photo -->
<!-- Window-popup Choose from my Photo -->

<div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo" aria-hidden="true">
    <div class="modal-dialog window-popup choose-from-my-photo" role="document">

        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
            </a>
            <div class="modal-header">
                <h6 class="title">Choose from My Photos</h6>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
                            <svg class="olymp-photos-icon"><use xlink:href="#olymp-photos-icon"></use></svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
                            <svg class="olymp-albums-icon"><use xlink:href="#olymp-albums-icon"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="modal-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">

                        <div class="choose-photo-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img loading="lazy" src="~/templates/detail-page/img/choose-photo1.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img loading="lazy" src="~/templates/detail-page/img/choose-photo2.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img loading="lazy" src="~/templates/detail-page/img/choose-photo3.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>

                        <div class="choose-photo-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img loading="lazy" src="~/templates/detail-page/img/choose-photo4.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img loading="lazy" src="~/templates/detail-page/img/choose-photo5.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img loading="lazy" src="~/templates/detail-page/img/choose-photo6.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>

                        <div class="choose-photo-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img loading="lazy" src="~/templates/detail-page/img/choose-photo7.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img loading="lazy" src="~/templates/detail-page/img/choose-photo8.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img loading="lazy" src="~/templates/detail-page/img/choose-photo9.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>


                        <a href="#" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
                        <a href="#" class="btn btn-primary btn-lg btn--half-width">Confirm Photo</a>

                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">

                        <div class="choose-photo-item">
                            <figure>
                                <img loading="lazy" src="~/templates/detail-page/img/choose-photo10.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">South America Vacations</a>
                                    <span>Last Added: 2 hours ago</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="choose-photo-item">
                            <figure>
                                <img loading="lazy" src="~/templates/detail-page/img/choose-photo11.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">Photoshoot Summer 2016</a>
                                    <span>Last Added: 5 weeks ago</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="choose-photo-item">
                            <figure>
                                <img loading="lazy" src="~/templates/detail-page/img/choose-photo12.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">Amazing Street Food</a>
                                    <span>Last Added: 6 mins ago</span>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="choose-photo-item">
                            <figure>
                                <img loading="lazy" src="~/templates/detail-page/img/choose-photo13.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">Graffity & Street Art</a>
                                    <span>Last Added: 16 hours ago</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="choose-photo-item">
                            <figure>
                                <img loading="lazy" src="~/templates/detail-page/img/choose-photo14.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">Amazing Landscapes</a>
                                    <span>Last Added: 13 mins ago</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="choose-photo-item">
                            <figure>
                                <img loading="lazy" src="~/templates/detail-page/img/choose-photo15.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">The Majestic Canyon</a>
                                    <span>Last Added: 57 mins ago</span>
                                </figcaption>
                            </figure>
                        </div>


                        <a href="#" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
                        <a href="#" class="btn btn-primary btn-lg disabled btn--half-width">Confirm Photo</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ... end Window-popup Choose from my Photo -->
