﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo.Ui.Web</title>
    <meta name="description" content="‘#1 Trusted Dating Site. Every day, an average of 438 singles marry a match they found on landing. It&#39;s FREE to review your single, compatible matches!">
    <meta name="keywords" content="online dating, singles, dating, personals, matchmaker, matchmaking, love, match, dating site, landing.com, landing, free personals, christian singles, black singles, asian singles, jewish singles, local singles">
    <link href="~/templates/landing-page/css/style.css" rel="stylesheet" />
    <script src="~/templates/landing-page/js/script.js"></script>
    <script defer src="~/templates/landing-page/static_homepage/homepage/resources/landing/js/jquery_combined.js"></script>
    <script defer src="~/templates/landing-page/static_homepage/homepage/resources/landing/js/homepage_combinedfee0.js?v=1605271911802"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />


</head>
<body id="homepage">
    @RenderBody()
    <div id="pageWrapper">
        <noscript>
            <div id="JSError">
                <div class="errorWrapper">
                    <p>Warning: You have java-script not activated. Please activate JavaScript in order to make use of all Parship’s features.</p>
                </div>
            </div>
        </noscript>
        <div id="cookieError" style="display:none;">
            <div class="errorWrapper">
                <p>To be able to use Parship, please allow your internet browser to accept cookies.</p>
            </div>
        </div>
        <nav id="burgerMenu" class=" hideInXL">
            <div class="headerLogo">
                <img id="logoSmall" src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/eh-color-heart.svg" alt="Register now for free" />
                <div class="closeBurgerMenu" tabindex="0"></div>
            </div>
        </nav>
        <div id="headerWrapper" style="background-color: #1a5f78">
            <div id="topNavi">
                <div class="topNaviContainer">
                    <div id="mainLogoWrapper">
                        <div class="imageContainer">
                            <img id="logo" itemprop="logo" src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/eh-color-heart.svg" alt="landing.com Matching personalities" />
                        </div>
                    </div>
                    <a href="#" id="loginBar" tabindex="0" role="button">Đăng nhập</a>
                </div>
            </div>
            <div id="galleryWrapper">
                <div id="backgroundGallery">
                    <div class=" active" style="background-color: #1a5f78">
                        <picture id="image_1">
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/love-6.jpg" media="(min-width: 768px)">
                            <source srcset="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/love-6.jpg">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/love-6.jpg" />
                            <img src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/love-6.jpg" alt="Bandgirl">
                        </picture>
                    </div>
                    <div class="" style="background-color: #1a5f78">
                        <picture id="image_2">
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="data:image/png;base64,R0lGODlhAgACAIAAAP///wAAACH5BAEAAAAALAAAAAACAAIAAAIChFEAOw==" media="(min-width: 768px)" data-imgUrl="/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/slide_img4.jpg">
                            <source srcset="data:image/png;base64,R0lGODlhAgACAIAAAP///wAAACH5BAEAAAAALAAAAAACAAIAAAIChFEAOw==" data-imgUrl="/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/slide_img4.jpg">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="data:image/png;base64,R0lGODlhAgACAIAAAP///wAAACH5BAEAAAAALAAAAAACAAIAAAIChFEAOw==" alt="Kitchen">
                        </picture>
                    </div>
                </div>
                <div id="formWrapper">
                    <div id="registrationForm" class="hetero visibleGender">
                        <h1>Đăng ký <span>miễn phí</span> ngay hôm nay</h1>
                        <div id="registrationFormWrapper">
                            <div class="regFormBody">
                                <form id="formRegistration" name="ps_form_registration" method="post" action="https://www.landing.com/profile/registration" novalidate="novalidate">
                                    <input type="hidden" id="regFormTerms" name="terms" value="on" />
                                    <div class="row clearfix" id="mysexEssexRow">
                                        <div id="regsexError" class="errorBox" role="alert" aria-hidden="true" style="display:none;">
                                            <p>Please specify your gender.</p>
                                        </div>
                                        <div class="column" id="mysexRow" role="listbox">
                                            <span class="rowLabel">Tôi là</span>
                                            <span class="radioWrap" role="listitem">
                                                <input type="radio" name="mysex" id="mysexW" value="1" aria-label="I am&nbsp;a woman" />
                                                <label for="mysexW">Nữ</label>
                                            </span>
                                            <span class="radioWrap" role="listitem">
                                                <input type="radio" name="mysex" id="mysexM" value="0" aria-label="I am&nbsp;a man" />
                                                <label for="mysexM">Nam</label>
                                            </span>
                                        </div>
                                        <div class="column" id="essexRow" role="listbox">
                                            <span class="rowLabel">Tìm đối tượng</span>
                                            <span class="radioWrap" role="listitem">
                                                <input type="radio" name="essex" id="essexW" value="1" aria-label="Looking for&nbsp;a woman" />
                                                <label for="essexW">Nữ</label>
                                            </span>
                                            <span class="radioWrap" role="listitem">
                                                <input type="radio" name="essex" id="essexM" value="0" aria-label="Looking for&nbsp;a man" />
                                                <label for="essexM">Nam</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="toggleVisibilityRegFormWrapper" aria-hidden="true">
                                        <div class="row" id="emailRow">
                                            <div id="regEmailError" class="errorBox" role="alert" aria-hidden="true" style="display:none;">
                                                <p>Please supply your email address.</p>
                                            </div>
                                            <div class="inputWithIcon wrappPlaceholderBug">
                                                <input id="regFormEmail" type="email" name="email" value="" placeholder="Your Email" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row" id="passwordRow">
                                            <div id="regPasswordEmptyError" class="errorBox" role="alert" aria-hidden="true" style="display:none;">
                                                <p>Please determine your personal password.</p>
                                            </div>
                                            <div id="regPasswordNotValidError" class="errorBox" role="alert" aria-hidden="true" style="display:none;">
                                                <p>Your password is not compliant with our restrictions.</p>
                                            </div>
                                            <div class="inputWithIcon wrappPlaceholderBug">
                                                <input type="password" id="regFormPassword" name="password" value="" aria-describedby="passwordRestrictionInfo" class="checkPassword" placeholder="Create your Password" autocomplete="off" />
                                                <input type="password" id="regFormPasswordCheck" name="passwordCheck" value="" style="display:none;" />
                                            </div>
                                            <div style="display: none;" id="passwordRestrictionInfo">
                                                <p>For your security, use the following password format:</p>
                                                <ul>
                                                    <li class="error" id="minCharacters">At least 8 characters</li>
                                                    <li class="error" id="lettersAndNumbers">Letters AND numbers/special characters</li>
                                                    <li class="error" id="partOfEmail">Must not be the same as your email address</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row" id="legalText">
                                            <p>By clicking below to register, you confirm that you agree to our <a href="termsandconditions/index.html" target="_blank">Terms &amp; Conditions</a> and you have read and understood our <a href="privacypolicy/index.html" target="_blank">Privacy Policy</a>.</p>
                                        </div>
                                    </div>
                                    <div class="row" id="submitRow">
                                        <a href="#" class="t-knightRider custom-button">Đăng ký</a>

                                        @*<button type="submit" id="regFormSubmit" class="wdk-button t-primaryPremium t-knightRider">
                                                <span class="text">Join Now</span>
                                            </button>*@
                                    </div>
                                    <div class="toggleVisibilityRegFormWrapper" aria-hidden="true">
                                        <div id="facebookRegContainer">
                                            <span class="speratorText">or</span>
                                            <span class="buttonText">Sign up with Facebook</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="fixedNavigation" aria-hidden="true">
                            <ul>
                                <li id="fixedLogo">
                                    <img src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/eh-color-heart.svg" alt="Register now for free" />
                                </li>
                                <li id="fixedToRegLink">
                                    <a href="#registrationForm" class="wdk-button t-primaryPremium t-knightRider">Start free today</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="redCarpet">
            <div id="tilebar" class="">
                <div class="contentbarWrapper redCarpetModule">
                    <div class="textItem">
                        <img src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/ehHeartInvert.svg" alt="heart" />
                        <div class="headline">
                            <span class=""> @*<span class="hidden">Đơn giản</span>*@ Simple  </span>
                        </div>
                        <div class="subText">
                            <p>Sugar rất dễ sử dụng - chỉ cần chọn giới tính và đối tác của bạn, bạn đã có thể bắt đầu</p>
                        </div>
                    </div>
                    <div class="textItem">
                        <img src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/ehHeartInvert.svg" alt="heart" />
                        <div class="headline">
                            <span class="">Smart Matching</span>
                        </div>
                        <div class="subText">
                            <p>Hệ thống gợi ý dựa trên sở thích của bạn. Nó giúp bạn tìm thấy những người tốt nhất để gặp gỡ và tiến xa hơn</p>
                        </div>
                    </div>
                    <div class="textItem">
                        <img src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/ehHeartInvert.svg" alt="heart" />
                        <div class="headline">
                            <span class="">Cool Community</span>
                        </div>
                        <div class="subText">
                            <p>Chúng tôi có một cộng đồng thấu hiểu và luôn sẵn sàng trợ giúp.</p>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="redCarpetModule factsModule COLOR_white" id="Facts">
                <div class="contentWrapper">
                    <h2>
                        <span class=""> Sugar hoạt động như thế nào? </span>
                    </h2>
                    <div class="stageWrapper">
                        <div class="stage">
                            <ul class="factPages clearfix">
                                <li class="factPage clearfix">
                                    <div class="factItems hasTypeFact">
                                        <span class="factItem typeFact">
                                            <img src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/icon1.png" />
                                            <span class="headline">
                                            </span>
                                            <span class="subHeadline">
                                                Cho chúng tôi biết bạn là ai
                                            </span>
                                            <span class="sourceWrapper">
                                                <span class="hoverText"></span>
                                                <span class="source"></span>
                                            </span>
                                        </span>
                                        <span class="factItem typeFact hideInM hideInS">
                                            <img src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/icon2.png" />
                                            <span class="headline">
                                            </span>
                                            <span class="subHeadline">
                                                Tìm đối tượng phù hợp
                                            </span>
                                            <span class="sourceWrapper">
                                                <span class="hoverText"></span>
                                                <span class="source"></span>
                                            </span>
                                        </span>
                                        <span class="factItem typeFact">
                                            <img src="~/templates/landing-page/static_homepage/homepage/pictures/landing/International/module/icon3.png" />
                                            <span class="headline">
                                            </span>
                                            <span class="subHeadline">
                                                Bắt đầu hẹn hò
                                            </span>
                                            <span class="sourceWrapper">
                                                <span class="hoverText"></span>
                                                <span class="source"></span>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
            @*<article class="hentry post-1235 page type-page status-publish has-post-thumbnail">
                <div class="hentry__content page__content">
                    <div class="slider">
                        <div class="slider__headline">West</div>

                        <div class="swiper-container block">
                            <div class="swiper-wrapper">


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/07/alaska-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/ak/">
                                        <span>Find singles in</span>
                                        Alaska
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/07/arizona-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/az/">
                                        <span>Find singles in</span>
                                        Arizona
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/07/california-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/ca/">
                                        <span>Find singles in</span>
                                        California
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/08/colorado-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/co/">
                                        <span>Find singles in</span>
                                        Colorado
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/08/hawaii-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/hi/">
                                        <span>Find singles in</span>
                                        Hawaii
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/08/idaho-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/id/">
                                        <span>Find singles in</span>
                                        Idaho
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/07/montana-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/mt/">
                                        <span>Find singles in</span>
                                        Montana
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/07/nevada-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/nv/">
                                        <span>Find singles in</span>
                                        Nevada
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/07/new-mexico-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/nm/">
                                        <span>Find singles in</span>
                                        New Mexico
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/08/oregon-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/or/">
                                        <span>Find singles in</span>
                                        Oregon
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/08/utah-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/ut/">
                                        <span>Find singles in</span>
                                        Utah
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/08/washington-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/wa/">
                                        <span>Find singles in</span>
                                        Washington
                                    </a>
                                </div>


                                <div class="swiper-slide swiper-lazy image" data-background="https://www.landing.com/wp-content/uploads/2020/08/wyoming-singles-300x169.jpg">
                                    <a class="abs" href="https://www.landing.com/wy/">
                                        <span>Find singles in</span>
                                        Wyoming
                                    </a>
                                </div>


                            </div>

                            <div class="swiper-pagination"></div>

                            <div class="swiper-button-prev small"></div>
                            <div class="swiper-button-next small"></div>
                        </div>
                    </div>
                </div>
            </article>*@
        </div>
    </div>

    <div id="footer">
        <div class="externalLinks">
            <div class="linkListWrapper">
                <div class="linkList">
                </div>
                <div class="linkList">
                    <p class="headline">Follow Us On</p>
                    <ul>
                        <li>
                            <a class="icon-social_fb big" href="https://www.facebook.com/landing" target="_blank" title="Follow Us On Facebook"></a>
                        </li>
                        <li>
                            <a class="icon-social_t big" href="https://twitter.com/landing" target="_blank" title="Follow Us On Twitter" rel="nofollow"></a>
                        </li>
                        <li>
                            <a class="icon-social_yt big" href="https://www.youtube.com/landing" target="_blank" title="Follow Us On Youtube" rel="nofollow"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="copyright">© 2020 eSugar, Inc. - Made with ❤ in Vietnam</div>
    </div>

    <script src="~/templates/landing-page/static.cloudflareinsights.com/beacon.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
