﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo.Ui.Web</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/templates/detail-page/Bootstrap/dist/css/bootstrap.css">


    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="~/templates/detail-page/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/templates/detail-page/css/fonts.min.css">

</head>
<body class="page-has-left-panels page-has-right-panels">
    <!-- ... end Fixed Sidebar Left -->
    <!-- Fixed Sidebar Left -->
    <div class="fixed-sidebar fixed-sidebar-responsive">
        <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
            <a href="#" class="logo js-sidebar-open">
                <img loading="lazy" src="~/templates/detail-page/img/logo.png" alt="Olympus">
            </a>

        </div>

        <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
            <a href="#" class="logo">
                <div class="img-wrap">
                    <img loading="lazy" src="~/templates/detail-page/img/logo.png" alt="Olympus">
                </div>
                <div class="title-block">
                    <h6 class="logo-title">olympus</h6>
                </div>
            </a>

            <div class="mCustomScrollbar" data-mcs-theme="dark">

                <div class="control-block">
                    <div class="author-page author vcard inline-items">
                        <div class="author-thumb">
                            <img alt="author" src="~/templates/detail-page/img/author-page.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                        <a href="02-ProfilePage.html" class="author-name fn">
                            <div class="author-title">
                                James Spiegel <svg class="olymp-dropdown-arrow-icon"><use xlink:href="#olymp-dropdown-arrow-icon"></use></svg>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">MAIN SECTIONS</h6>
                </div>

                <ul class="left-menu">
                    <li>
                        <a href="mobile-index.html">
                            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="NEWSFEED"><use xlink:href="#olymp-newsfeed-icon"></use></svg>
                            <span class="left-menu-title">Newsfeed</span>
                        </a>
                    </li>
                </ul>

                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">YOUR ACCOUNT</h6>
                </div>

                <ul class="account-settings">
                    <li>
                        <a href="#">

                            <svg class="olymp-menu-icon"><use xlink:href="#olymp-menu-icon"></use></svg>

                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="olymp-logout-icon"><use xlink:href="#olymp-logout-icon"></use></svg>

                            <span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ... end Fixed Sidebar Left -->
    @await Html.PartialAsync("~/Views/Template/_Header.cshtml")

    @RenderBody()


    @*<a class="back-to-top" href="#">
        <img src="~/templates/detail-page/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
    </a>*@

    <!-- JS Scripts -->
    <script src="~/templates/detail-page/js/jQuery/jquery-3.5.1.js"></script>
    <script src="~/templates/detail-page/js/libs/jquery.appear.js"></script>
    <script src="~/templates/detail-page/js/libs/jquery.mousewheel.js"></script>
    <script src="~/templates/detail-page/js/libs/purecounter_vanilla.js"></script>
    <script src="~/templates/detail-page/js/libs/perfect-scrollbar.js"></script>
    <script src="~/templates/detail-page/js/libs/svgxuse.js"></script>
    <script src="~/templates/detail-page/js/libs/imagesloaded.pkgd.js"></script>
    <script src="~/templates/detail-page/js/libs/Headroom.js"></script>
    <script src="~/templates/detail-page/js/libs/popper.min.js"></script>
    <script src="~/templates/detail-page/js/libs/material.min.js"></script>
    <script src="~/templates/detail-page/js/libs/bootstrap-select.js"></script>
    <script src="~/templates/detail-page/js/libs/smooth-scroll.js"></script>
    <script src="~/templates/detail-page/js/libs/selectize.js"></script>
    <script src="~/templates/detail-page/js/libs/swiper.jquery.js"></script>
    <script src="~/templates/detail-page/js/libs/moment.js"></script>
    <script src="~/templates/detail-page/js/libs/daterangepicker.js"></script>
    <script src="~/templates/detail-page/js/libs/isotope.pkgd.js"></script>
    <script src="~/templates/detail-page/js/libs/ajax-pagination.js"></script>
    <script src="~/templates/detail-page/js/libs/jquery.magnific-popup.js"></script>
    <script src="~/templates/detail-page/js/libs/aos.js"></script>
    <script src="~/templates/detail-page/js/libs/sticky-sidebar.js"></script>

    <script src="~/templates/detail-page/js/main.js"></script>
    <script src="~/templates/detail-page/js/libs-init/libs-init.js"></script>
    <script defer src="~/templates/detail-page/fonts/fontawesome-all.js"></script>

    <script src="~/templates/detail-page/Bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- SVG icons loader -->
    <script src="~/templates/detail-page/js/svg-loader.js"></script>
    <!-- /SVG icons loader -->

    @RenderSection("Scripts", required: false)
</body>
</html>
